<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/form.css">
<body>
<div class="container">
  <img src="/images/Motiv8-logo.png" alt="Motiv8 Logo" class="logo">
  <h2>Login</h2>
  <form th:action="@{/login}" th:method="POST" th:object="${loginRequest}">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" th:field="*{username}" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" th:field="*{password}" required>
      <p th:if="${errorMessage}" th:text="${errorMessage}" style="color: red"></p>
    </div>
    <button type="submit" class="button">Login</button>
  </form>
  <p>Don't have an account? <a href="/register">Register here</a>.</p>
</div>
<!-- Footer -->
<th:block th:replace="~{fragments/footer::footer}"></th:block>
</body>
</html>