<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership</title>
    <link rel="stylesheet" href="/css/memberships.css">
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar">
    <div class="navbar-brand">
        <a th:href="@{/home}" class="logo">Motiv8 Network</a>
    </div>
    <div class="navbar-links">
        <a th:href="@{/home}" class="nav-link">Home</a>
        <a th:href="@{/users/{id}/profile}" class="nav-link">Profile</a>
        <a th:href="@{/posts}" class="nav-link">Posts</a>
        <a th:href="@{/memberships}" class="nav-link">Get PREMIUM</a>
        <a th:href="@{/payments/history}" class="nav-link">Payments</a>
        <a th:href="@{/follow/following}" class="nav-link">Following</a>
        <a th:href="@{/follow/followers}" class="nav-link">Followers</a>
        <a th:href="@{/logout}" class="nav-link">Logout</a>
    </div>
</nav>
<div class="container">
    <header>
        <h1>Membership Details</h1>
        <a th:href="@{/memberships/history}" class="btn">History</a>
        <a th:href="@{/users/{id}/profile}" class="btn">Back to Profile</a>
    </header>

    <section class="membership-details">
        <div class="details">
            <div class="field">
                <label>Type:</label>
                <tr>
                <td th:if="${user.memberships[0].type.name() == 'FREE'}"><span class="membership free">FREE</span></td>
                <td th:if="${user.memberships[0].type.name() == 'PREMIUM'}"><span class="membership premium">PREMIUM</span></td>
                </tr>
            </div>
            <div class="field">
                <label>Status:</label>
                <tr>
                    <td th:if="${user.memberships[0].status.name() == 'ACTIVE'}"><span class="status active">ACTIVE</span></td>
                    <td th:if="${user.memberships[0].status.name() == 'INACTIVE'}"><span class="status inactive">INACTIVE</span></td>
                    <td th:if="${user.memberships[0].status.name() == 'EXPIRED'}"><span class="status inactive">EXPIRED</span></td>
                </tr>
            </div>
            <div class="field">
                <label>Price:</label>
                <span th:text="${user.memberships[0].price} + ' ' + ${user.wallets[0].currency}">$19.99/month</span>
            </div>
            <div class="field">
                <label>Created At:</label>
                <span th:text="${#temporals.format(user.memberships[0].createdAt, 'dd MMM YYYY HH:mm' )}">2023-10-01</span>
            </div>
            <div class="field">
                <label>Expires At:</label>
                <span th:text="${#temporals.format(user.memberships[0].expiresAt, 'dd MMM YYYY HH:mm' )}">2023-11-01</span>
            </div>
            <div class="field">
                <label>Renewal Option:</label>
                <span th:text="${user.memberships[0].renewalAllowed} ? 'Enabled' : 'Disabled'"> </span>
            </div>
            <div class="field">
                <label>Billing Period:</label>
                <span th:text="${#strings.capitalize(#strings.toLowerCase(user.memberships[0].period))}">2023-11-01</span>
            </div>
        </div>

        <div class="renewal-options">
            <h2>Renewal Options</h2>
            <form th:action="@{/memberships/renewal}" th:method="PUT">
                <div class="radio-group">
                    <label>
                        <input type="radio" name="renewalAllowed" value="true"
                               th:checked="${user.memberships[0].renewalAllowed}">
                        Auto-Renew
                    </label>
                </div>
                <div class="radio-group">
                    <label>
                        <input type="radio" name="renewalAllowed" value="false"
                               th:checked="${!user.memberships[0].renewalAllowed}">
                        Manual Renew
                    </label>
                </div>

                <h2>Billing Period</h2>
                <div class="radio-group">
                    <label>
                        <input type="radio" name="period" value="MONTHLY"
                               th:checked="${user.memberships[0].period.name() == 'MONTHLY'}">
                        Monthly
                    </label>
                </div>
                <div class="radio-group">
                    <label>
                        <input type="radio" name="period" value="ANNUAL"
                               th:checked="${user.memberships[0].period.name() == 'ANNUAL'}">
                        Annual
                    </label>
                </div>
                <button type="submit" class="btn-save">Save Changes</button>
            </form>
        </div>
    </section>
</div>
<!-- Footer -->
<th:block th:insert="fragments/footer::footer"></th:block>
</body>
</html>