<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="/css/other-profile.css">
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar">
  <div class="navbar-brand">
    <a th:href="@{/home}" class="logo">Motiv8 Network</a>
  </div>
  <div class="navbar-links">
    <a th:href="@{/users}" class="nav-link" style="font-weight: bold">ADMIN PANEL</a>
    <a th:href="@{/home}" class="nav-link">Home</a>
    <a th:href="@{/posts}" class="nav-link">Posts</a>
    <a th:href="@{/users/{id}/profile}" class="nav-link">Profile</a>
    <a th:href="@{/memberships/details}" class="nav-link">Membership</a>
    <a th:href="@{/memberships}" class="nav-link">Get PREMIUM</a>
    <a th:href="@{/payments/history}" class="nav-link">Payments</a>
    <a th:href="@{/users/profiles}" class="nav-link">Find Friends</a>
    <a th:href="@{/logout}" class="nav-link">Logout</a>
  </div>
</nav>

<!-- Profile Page Content -->
<div class="profile-container">
  <!-- Profile Picture -->
  <div class="profile-picture">
    <img th:src="${#strings.isEmpty(user.profilePictureUrl) ? '/images/default-avatar.jpg' : user.profilePictureUrl}" alt="Profile Picture">
  </div>

  <!-- Profile Details -->
  <div class="profile-details">
    <h1>User Profile</h1>
    <div class="profile-field">
      <label>Username:</label>
      <span th:text="${user.username}"></span>
    </div>
    <div class="profile-field">
      <label>Bio:</label>
      <span th:text="${#strings.isEmpty(user.bio) ? '(Fill short biography)' : user.bio}">Hello! I'm John, a software developer and nature lover. 🏞️</span>
    </div>
    <div class="profile-field">
      <label>Email:</label>
      <span th:text="${#strings.isEmpty(user.email) ? '(Fill email)' : user.email}">john.doe@example.com</span>
    </div>
    <div class="profile-field">
      <label>Country:</label>
      <span th:text="${#strings.capitalize(#strings.toLowerCase(user.country))}"></span>
    </div>
    <div class="profile-field">
      <label>In Motiv8 Family since:</label>
      <span th:text="${#temporals.format(user.createdAt, 'dd MMM YYYY HH:mm' )}"></span>
    </div>
    <div class="btn">
      <a href="" class="edit-profile-button">Follow(Soon)</a>
    </div>
    <div class="btn">
      <a th:href="@{'/users/profiles'}" class="edit-profile-button">Back</a>
    </div>
  </div>
</div>
<!-- Footer -->
<th:block th:insert="fragments/footer::footer"></th:block>
</body>
</html>