<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar">
  <div class="navbar-brand">
    <a th:href="@{/home}" class="logo">Motiv8 Network</a>
  </div>
  <div class="navbar-links">
    <a th:href="@{/home}" class="nav-link">Home</a>
    <a th:href="@{/posts}" class="nav-link">Posts</a>
    <a th:href="@{/memberships/details}" class="nav-link">Membership</a>
    <a th:href="@{/memberships}" class="nav-link">Get PREMIUM</a>
    <a th:href="@{/payments/history}" class="nav-link">Payments</a>
    <a th:href="@{/follow/following}" class="nav-link">Following</a>
    <a th:href="@{/follow/followers}" class="nav-link">Followers</a>
    <a th:href="@{/logout}" class="nav-link">Logout</a>
  </div>
</nav>

<!-- Profile Page Content -->
<div class="profile-container">
  <!-- Profile Picture -->
  <div class="profile-picture">
    <img th:src="${#strings.isEmpty(user.profilePictureUrl) ? '/images/default-avatar.jpg' : user.profilePictureUrl}" alt="Profile Picture">
  </div>

  <!-- Profile Details -->
  <div class="profile-details">
    <h1>Profile</h1>
    <div class="profile-field">
      <label>ID:</label>
      <span th:text="${user.id}"></span>
    </div>
    <div class="profile-field">
      <label>Username:</label>
      <span th:text="${user.username}"></span>
    </div>
    <div class="profile-field">
      <label>Balance:</label>
      <span th:text="${user.wallets[0].balance} + ' ' + ${user.wallets[0].currency}"></span>
    </div>
    <div class="profile-field">
      <label >First Name:</label>
      <span th:text="${#strings.isEmpty(user.firstName) ? '(Fill first name)' : user.firstName}"></span>
    </div>
    <div class="profile-field">
      <label >Last Name:</label>
      <span th:text="${#strings.isEmpty(user.lastName) ? '(Fill last name)' : user.lastName}"></span>
    </div>
    <div class="profile-field">
      <label>Bio:</label>
      <span th:text="${#strings.isEmpty(user.bio) ? '(Fill short biography)' : user.bio}">Hello! I'm John, a software developer and nature lover. 🏞️</span>
    </div>
    <div class="profile-field">
      <label>Email:</label>
      <span th:text="${#strings.isEmpty(user.email) ? '(Fill email)' : user.email}">john.doe@example.com</span>
    </div>
    <div class="profile-field">
      <label>Country:</label>
      <span th:text="${#strings.capitalize(#strings.toLowerCase(user.country))}">United States</span>
    </div>
    <div class="profile-field">
      <label>Following:</label>
      <span><a href="/profile/following">150</a></span>
    </div>
    <div class="profile-field">
      <label>Followers:</label>
      <span><a href="/profile/followers">300</a></span>
    </div>
    <div class="profile-field">
      <label>Create Date:</label>
      <span th:text="${#temporals.format(user.createdAt, 'dd MMM YYYY HH:mm' )}">2023-01-01</span>
    </div>
    <div class="profile-field">
      <label>Last Update:</label>
      <span th:text="${#temporals.format(user.updatedAt, 'dd MMM YYYY HH:mm' )}">2023-10-10</span>
    </div>
    <div class="profile-field">
      <label>Membership:</label>
      <span th:if="${user.getMemberships()[0].type.name() == 'FREE'}" class="membership free">FREE</span>
      <span th:if="${user.getMemberships()[0].type.name() == 'PREMIUM'}" class="membership premium">PREMIUM</span>
    </div>

    <!-- Edit Profile Button -->
    <div class="edit-profile-button-container">
      <a th:href="@{/additional-info}" class="edit-profile-button">Additional info</a>
    </div>
    <div class="edit-profile-button-container">
      <a th:href="@{'/users/' + ${user.id} + '/profile-menu'}" class="edit-profile-button">Edit Profile</a>
    </div>
  </div>
</div>
<!-- Footer -->
<th:block th:insert="fragments/footer::footer"></th:block>
</body>
</html>