<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
</head>
<body>
<div class="container">
    <img src="/images/Motiv8-logo.png" alt="Motiv8 Logo" class="logo">
    <h1>Register</h1>
    <form th:action="@{/register}" th:method="POST" th:object="${registerRequest}">
        <div class="form-group">
            <label for="username">Username</label>
            <input th:field="*{username}" type="text" id="username" name="username" required>
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red"></p>
            <p th:text="${usernameAlreadyExistsMessage}" style="color: red"></p>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input th:field="*{password}" type="password" id="password" name="password" required>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></p>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <select id="country" th:field="*{country}">
                <option th:each="country : ${T(app.user.model.Country).values()}" th:value="${country}" th:text="${#strings.capitalize(#strings.toLowerCase(country))}"></option>
            </select>
        </div>
        <button type="submit" class="button">Register</button>
    </form>
</div>
<!-- Footer -->
<th:block th:replace="~{fragments/footer::footer}"></th:block>
</body>
</html>