<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="/css/users.css">
</head>
<body>
<nav class="navbar">
  <div class="navbar-brand">
    <a th:href="@{/home}" class="logo">Motiv8 Network</a>
  </div>
  <div class="navbar-links">
    <a th:href="@{/home}" class="nav-link">Home</a>
    <a th:href="@{/users/{id}/profile}" class="nav-link">Profile</a>
    <a th:href="@{/logout}" class="nav-link">Logout</a>
  </div>
</nav>
<div class="container">
  <header>
    <h1>Users Details</h1>
    <a th:href="@{/home}" class="btn">Back</a> <!-- Optional: Link to go back to the dashboard -->
  </header>
  <section class="user-report">
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Balance</th>
        <th>Currency</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Country</th>
        <th>Last Update</th>
        <th>Membership</th>
        <th>Period</th>
        <th>is Active</th>
        <th>Block User</th>
        <th>Current Role</th>
        <th>Change Role</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.id}">{{ user.id }}</td>
        <td th:text="${user.username}">{{ user.username }}</td>
        <td th:text="${user.wallets[0].balance}">{{ user.wallet.balance }}</td>
        <td th:text="${user.wallets[0].currency}">{{ user.wallet.currency }}</td>
        <td th:text="${user.firstName}">{{ user.first_name }}</td>
        <td th:text="${user.lastName}">{{ user.last_name }}</td>
        <td th:text="${user.email}">{{ user.email }}</td>
        <td th:text="${#strings.capitalize(#strings.toLowerCase(user.country))}">{{ user.country }}</td>
        <td th:text="${#temporals.format(user.createdAt, 'dd MMM YYYY HH:mm' )}">{{ user.create_date }}</td>
        <td th:text="${user.memberships[0].type}">{{ user.membership }}</td>
        <td th:text="${user.memberships[0].period}">{{ user.membership }}</td>
        <td th:text="${user.active} ? 'Yes' : 'No'">{{ user.email }}</td>
        <td>
          <form th:action="@{'/users/' + ${user.id} + '/status'}" th:method="PUT">
            <input type="hidden" name="userId" th:value="${user.id}" />
            <button type="submit" th:classappend="${user.isActive()} ? 'toggled'" class="toggle-btn-block">
              <span th:text="${user.isActive()} ? 'BLOCK' : 'UNBLOCK'"></span>
            </button>
          </form>
        </td>
        <td th:text="${user.role}">{{ user.email }}</td>
        <td>
          <form th:action="@{'/users/' + ${user.id} + '/role'}" th:method="PUT">
            <input type="hidden" name="userId" th:value="${user.id}" />
            <button type="submit" th:classappend="${user.role.USER} ? 'CHANGE'" class="toggle-btn-role">
              <span th:text="${user.role.name() == 'ADMIN'} ? 'To USER' : 'To ADMIN'"></span>
            </button>
          </form>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
  <header>
    <h1>Registrations</h1>
    <a th:href="@{/home}" class="btn">Back</a> <!-- Optional: Link to go back to the dashboard -->
  </header>
  <section class="user-report">
    <table>
      <thead>
      <tr>
        <th>Create Date</th>
        <th>Country</th>
        <th>Username</th>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Balance</th>
        <th>Currency</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${#temporals.format(user.createdAt, 'dd MMM YYYY HH:mm' )}">{{ user.create_date }}</td>
        <td th:text="${#strings.capitalize(#strings.toLowerCase(user.country))}">{{ user.country }}</td>
        <td th:text="${user.username}">{{ user.username }}</td>
        <td th:text="${user.id}">{{ user.id }}</td>
        <td th:text="${user.firstName}">{{ user.first_name }}</td>
        <td th:text="${user.lastName}">{{ user.last_name }}</td>
        <td th:text="${user.email}">{{ user.email }}</td>
        <td th:text="${user.wallets[0].balance}">{{ user.wallet.balance }}</td>
        <td th:text="${user.wallets[0].currency}">{{ user.wallet.currency }}</td>
      </tr>
      </tbody>
    </table>
  </section>

  <header>
    <h1>Memberships</h1>
    <a th:href="@{/home}" class="btn">Back</a> <!-- Optional: Link to go back to the dashboard -->
  </header>
  <section class="user-report">
    <table>
      <thead>
      <tr>
        <th>Membership ID</th>
        <th>Membership</th>
        <th>Period</th>
        <th>Last Update</th>
        <th>Username</th>
        <th>Email</th>
        <th>Country</th>
        <th>Create Date</th>
        <th>is Active</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${users}">
        <td th:text="${user.memberships[0].id}"></td>
        <td th:text="${user.memberships[0].type}"></td>
        <td th:text="${user.memberships[0].period}"></td>
        <td th:text="${#temporals.format(user.updatedAt, 'dd MMM YYYY HH:mm' )}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${#strings.capitalize(#strings.toLowerCase(user.country))}"></td>
        <td th:text="${#temporals.format(user.createdAt, 'dd MMM YYYY HH:mm' )}"></td>
        <td th:text="${user.active} ? 'Yes' : 'No'"></td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
<!-- Footer -->
<th:block th:insert="fragments/footer::footer"></th:block>
</body>
</html>